<nav class="navbar navbar-default navbar-static-top t-nav navbar-lg" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-toggle">
      <i class="fa fa-align-justify">s</i>
    </button>
    <%= link_to "RV Tech Connect", root_path, class: "navbar-brand" %>
  </div>


  <div class="collapse navbar-collapse" id="navbar-collapse-toggle">

    <!-- Guest NAVIGATION MENU PARTIAL -->
    <ul class="nav navbar-nav">           
      <li class="active"><%= link_to "Home", root_path %></li>
    </ul>


  </div><!-- /.navbar-collapse -->
</nav>
